*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hiragino;
}
@font-face {
    font-family: 'Hiragino';
    src: url('./Hiragino/Hiragino\ Kaku\ Gothic\ Pro\ W6.otf');
}
    
.main{
    background-image: url(./Assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}